<div *ngIf="config.global.search"  class="tableSearchBox" (keyup)="searchWithTerms($event, searchBox)" >
    <span>{{ (config.global.isSearchLabelTranslatable) ? (config.global.searchLabel | translate) : (config.global.searchLabel) }}</span>
    <input type="text" #searchBox placeholder="{{ (config.global.isPlaceHolderSearchTranslatable) ? (config.global.placeHolderSearch  | translate) : (config.global.placeHolderSearch) }}" />
</div>

<div *ngIf="config.global.group_actions && config.global.group_actions.length > 0" class="tableGroupActions">
    <acms-switch [id]="main" (switchEvent)="selectDeselectAll($event)" id="main-switch"></acms-switch>
    <select (change)="selectGlobalAction($event)">
        <option disabled select>Group Action</option>
        <option *ngFor="let action of config.global.group_actions">{{ action }}</option>
    </select>
</div>

<table *ngIf="!isEmptyTable">

    <thead *ngIf="config.global.showHeaders">
    <tr>
        <ng-template ngFor let-header [ngForOf]="headers" let-i="index">

            <th *ngIf="showColumn(header.hideWithResponsiveView)">
                {{ (header.is_translatable) ? (header.title  | translate) : (header.title) }}
                <span class="sortArrow" *ngIf="header.is_sortable">
            <span class="sortArrowUp" (click)="sort(i, 'ASC')">
              &#x25B2;
            </span>
            <span class="sortArrowDown" (click)="sort(i, 'DESC')">
              &#x25BC;
            </span>
          </span>
            </th>

        </ng-template>
    </thead>

    <tbody>
    <tr *ngFor="let result of displayedResults" (click)="(config.global.isEventOnRow) ? sendEvent($event,'onRow', result.id) : ''">
        <ng-template ngFor let-row [ngForOf]="result.items">

            <td *ngIf="row.actions && row.actions.length > 0">
                <ng-template ngFor let-action [ngForOf]="row.actions">
              <span *ngIf="action === 'select'" class="actions action-select"><span>
                <acms-switch [id]="result.id" (switchEvent)="updateSelectedRowsList($event)" class="item-switch" (click)="stopPropagation($event)"></acms-switch>
              </span></span>
                    <span *ngIf="action === 'update'" class="actions action-update" (click)="sendEvent($event, 'update', result.id)"><span>UPDATE</span></span>
                    <span *ngIf="action === 'delete'" class="actions action-delete" (click)="sendEvent($event, 'delete', result.id)"><span>DELETE</span></span>
                </ng-template>
            </td>


            <td *ngIf="!row.actions && showColumn(row.isResponsive)" [ngClass]="row.classRow">

                <ng-container [ngSwitch]="row.type" >

                    <div *ngSwitchCase="'html'" [innerHTML]="row.data">
                    </div>

                    <div *ngSwitchCase="'img'">

                        <img *ngIf="!row.config.method && !row.config.url" [src]="row.data" [attr.height]="row.config.height" [attr.width]="row.config.width" />

                        <a class="imgClick" *ngIf="row.config.method && !row.config.url" (click)="genericClickMethod($event, row.config.method, row.config.params, row.config.context)" ><img [src]="row.data" [attr.height]="row.config.height" [attr.width]="row.config.width" /></a>

                        <a class="imgURL" *ngIf="!row.config.method && row.config.url" [attr.href]="row.config.url" [attr.target]="row.config.target"><img [src]="row.data" [attr.height]="row.config.height" [attr.width]="row.config.width" /></a>

                    </div>

                    <div *ngSwitchCase="'svg'">

                        <span *ngIf="!row.config.method && !row.config.url" [innerHTML]="row.data"></span>

                        <a class="svgClick" *ngIf="row.config.method && !row.config.url" (click)="genericClickMethod($event, row.config.method, row.config.params, row.config.context)" ><span [innerHTML]="row.data"></span></a>

                        <a class="svgURL" *ngIf="!row.config.method && row.config.url" [attr.href]="row.config.url" [attr.target]="row.config.target"><span [innerHTML]="row.data"></span></a>

                    </div>

                    <div *ngSwitchCase="'url'">
                        <a (click)="stopPropagation($event)" [attr.href]="(row.config.prefix) ? (row.config.prefix+row.data) : row.data" [attr.title]="row.config.title" [attr.target]="row.config.target">{{ (row.config.content) ? ( ( row.config.isContentTranslatable ) ? (row.config.content | translate) : row.config.content ) : ( (row.config.prefix) ? (row.config.prefix+row.data) : row.data ) }}</a>
                    </div>

                    <div *ngSwitchCase="'function'">
                        <a class="functionClick" (click)="genericClickMethod($event, row.config.method, row.config.params, row.config.context)" >{{ row.data }}</a>
                    </div>

                    <div *ngSwitchDefault>
                        {{ (row.isTranslatable) ? (row.data | translate) : row.data }}
                    </div>

                </ng-container>


                <ng-template ngFor let-subrow [ngForOf]="row.multirows">


                    <!-- faire un composant -->
                    <ng-container [ngSwitch]="subrow.type" >

                        <div *ngSwitchCase="'html'" [innerHTML]="subrow.data">
                        </div>

                        <div *ngSwitchCase="'img'">

                            <img *ngIf="!subrow.config.method && !subrow.config.url" [src]="subrow.data" [attr.height]="subrow.config.height" [attr.width]="subrow.config.width" />

                            <a class="imgClick" *ngIf="subrow.config.method && !subrow.config.url" (click)="genericClickMethod($event, subrow.config.method, subrow.config.params, subrow.config.context)" ><img [src]="subrow.data" [attr.height]="subrow.config.height" [attr.width]="subrow.config.width" /></a>

                            <a class="imgURL" *ngIf="!subrow.config.method && subrow.config.url" [attr.href]="subrow.config.url" [attr.target]="subrow.config.target"><img [src]="subrow.data" [attr.height]="subrow.config.height" [attr.width]="subrow.config.width" /></a>

                        </div>

                        <div *ngSwitchCase="'svg'">

                            <span *ngIf="!subrow.config.method && !subrow.config.url" [innerHTML]="subrow.data"></span>

                            <a class="svgClick" *ngIf="subrow.config.method && !subrow.config.url" (click)="genericClickMethod($event, subrow.config.method, subrow.config.params, subrow.config.context)" ><span [innerHTML]="subrow.data"></span></a>

                            <a class="svgURL" *ngIf="!subrow.config.method && subrow.config.url" [attr.href]="subrow.config.url" [attr.target]="subrow.config.target"><span [innerHTML]="subrow.data"></span></a>

                        </div>

                        <div *ngSwitchCase="'url'">
                            <a (click)="stopPropagation($event)" [attr.href]="(subrow.config.prefix) ? (subrow.config.prefix+subrow.data) : subrow.data" [attr.title]="subrow.config.title" [attr.target]="subrow.config.target">{{ (subrowconfig.content) ? ( ( subrow.config.isContentTranslatable ) ? (subrow.config.content | translate) : subrow.config.content ) : ( (subrow.config.prefix) ? (rosubroww.config.prefix+subrow.data) : subrow.data ) }}</a>
                        </div>

                        <div *ngSwitchCase="'function'">
                            <a class="functionClick" (click)="genericClickMethod($event, subrow.config.method, subrow.config.params, subrow.config.context)" >{{ subrow.data }}</a>
                        </div>

                        <div *ngSwitchDefault>
                            {{ (subrow.isTranslatable) ? (subrow.data | translate) : subrow.data }}
                        </div>

                    </ng-container>
                    <!-- code dupliqué -->

                </ng-template>

            </td>

        </ng-template>
    </tr>
    </tbody>

    <caption *ngIf="config.global.legend">
        {{ (config.global.isLegendTranslatable) ? (config.global.legend | translate) : (config.global.legend) }}
    </caption>

</table>

<div class="tablePagination" *ngIf="config.global.pagination && !isEmptyTable">
  <span *ngFor="let page of collectionPage" [ngClass]="(page.current)?'currentLinkPagination':''">
    <a href="#" (click)="changePage(page.number)">{{ page.name }}</a>
  </span>
</div>

<div id="acms-table-empty-message" *ngIf="isEmptyTable">
    <div>{{ (config.global.isMessageIfEmptyTableTranslatable) ? (config.global.messageIfEmptyTable | translate) : (config.global.messageIfEmptyTable) }}</div>
</div>
