<ng-container [ngSwitch]="cell.type" >

    <div *ngSwitchCase="'html'" [innerHTML]="cell.data">
    </div>

    <div *ngSwitchCase="'img'">

        <img *ngIf="!cell.config.method && !cell.config.url" [src]="cell.data" [attr.height]="cell.config.height" [attr.width]="cell.config.width" />

        <a class="imgClick" *ngIf="cell.config.method && !cell.config.url" (click)="genericClickMethod($event, cell.config.method, cell.config.params, cell.config.context, cell.contextRow)" ><img [src]="cell.data" [attr.height]="cell.config.height" [attr.width]="cell.config.width" /></a>

        <a class="imgURL" *ngIf="!cell.config.method && cell.config.url" [attr.href]="cell.config.url" [attr.target]="cell.config.target"><img [src]="cell.data" [attr.height]="cell.config.height" [attr.width]="cell.config.width" /></a>

    </div>

    <div *ngSwitchCase="'svg'">

        <span *ngIf="!cell.config.method && !cell.config.url" [innerHTML]="cell.data"></span>

        <a class="svgClick" *ngIf="cell.config.method && !cell.config.url" (click)="genericClickMethod($event, cell.config.method, cell.config.params, cell.config.context, cell.contextRow)" ><span [innerHTML]="cell.data"></span></a>

        <a class="svgURL" *ngIf="!cell.config.method && cell.config.url" [attr.href]="cell.config.url" [attr.target]="cell.config.target"><span [innerHTML]="cell.data"></span></a>

    </div>

    <div *ngSwitchCase="'url'">
        <a (click)="stopPropagation($event)" [attr.href]="(cell.config.prefix) ? (cell.config.prefix+cell.data) : cell.data" [attr.title]="cell.config.title" [attr.target]="cell.config.target">{{ (cell.config.content) ? ( ( cell.config.isContentTranslatable ) ? (cell.config.content | translate) : cell.config.content ) : ( (cell.config.prefix) ? (cell.config.prefix+cell.data) : cell.data ) }}</a>
    </div>

    <div *ngSwitchCase="'function'">
        <a *ngIf="!cell.isTranslatable" class="functionClick" (click)="genericClickMethod($event, cell.config.method, cell.config.params, cell.config.context, cell.contextRow)" >{{ cell.data }}</a>
        <a *ngIf="cell.isTranslatable" class="functionClick" (click)="genericClickMethod($event, cell.config.method, cell.config.params, cell.config.context, cell.contextRow)" >{{ cell.data | translate }}</a>
    </div>

    <div *ngSwitchDefault>
        {{ (cell.isTranslatable) ? (cell.data | translate) : cell.data }}
    </div>

</ng-container>