<ng-container [ngSwitch]="row.type" >

    <div *ngSwitchCase="'html'" [innerHTML]="row.data">
    </div>

    <div *ngSwitchCase="'img'">

        <img *ngIf="!row.config.method && !row.config.url" [src]="row.data" [attr.height]="row.config.height" [attr.width]="row.config.width" />

        <a class="imgClick" *ngIf="row.config.method && !row.config.url" (click)="genericClickMethod($event, row.config.method, row.config.params, row.config.context)" ><img [src]="row.data" [attr.height]="row.config.height" [attr.width]="row.config.width" /></a>

        <a class="imgURL" *ngIf="!row.config.method && row.config.url" [attr.href]="row.config.url" [attr.target]="row.config.target"><img [src]="row.data" [attr.height]="row.config.height" [attr.width]="row.config.width" /></a>

    </div>

    <div *ngSwitchCase="'svg'">

        <span *ngIf="!row.config.method && !row.config.url" [innerHTML]="row.data"></span>

        <a class="svgClick" *ngIf="row.config.method && !row.config.url" (click)="genericClickMethod($event, row.config.method, row.config.params, row.config.context)" ><span [innerHTML]="row.data"></span></a>

        <a class="svgURL" *ngIf="!row.config.method && row.config.url" [attr.href]="row.config.url" [attr.target]="row.config.target"><span [innerHTML]="row.data"></span></a>

    </div>

    <div *ngSwitchCase="'url'">
        <a (click)="stopPropagation($event)" [attr.href]="(row.config.prefix) ? (row.config.prefix+row.data) : row.data" [attr.title]="row.config.title" [attr.target]="row.config.target">{{ (row.config.content) ? ( ( row.config.isContentTranslatable ) ? (row.config.content | translate) : row.config.content ) : ( (row.config.prefix) ? (row.config.prefix+row.data) : row.data ) }}</a>
    </div>

    <div *ngSwitchCase="'function'">
        <a class="functionClick" (click)="genericClickMethod($event, row.config.method, row.config.params, row.config.context)" >{{ row.data }}</a>
    </div>

    <div *ngSwitchDefault>
        {{ (row.isTranslatable) ? (row.data | translate) : row.data }}
    </div>

</ng-container>